<div class="quizz__container">
  <div class="quizz_logo">
    <img src="/images/logo.png" alt="">
    <h3>{{title}}</h3>

  </div>
  <div *ngIf="!finished" class="quizz_question">
    <h3>{{questionSelected.question}}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_options">
    <button (click)="onClick(option.alias)" *ngFor="let option of questionSelected.options" class="btn-option">
      {{option.name}}

    </button>
  </div>
  <div *ngIf="finished" class="quizz_results">
    <h1>O Seu resultado é: </h1>
    <p>{{answerSelected}} </p>
  </div>
</div>